.hero {
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  text-align: center;

  padding: 2rem;
}

.hero h2 {
  font-family: "Cormorant Garamond", serif;
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 400;
  color: #777;

  margin-bottom: -1rem;
}

.hero h1 {
  font-family: "Cormorant Garamond", serif;
  font-size: clamp(6rem, 16vw, 10rem);
  font-weight: 500;

  line-height: 0.9;

  margin-bottom: 3rem;
}

.hero p {
  max-width: 420px;

  color: #666;

  line-height: 2;

  font-size: 1rem;
}

.scroll-arrow {
  position: absolute;

  bottom: 50px;

  font-size: 2rem;

  color: #888;

  cursor: default;
}